@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");
html {
  font-size: var(--resetRem);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
:root {
  --resetRem: 62.5%;
}
body {
  font-size: 1.4rem;
  font-family: "Poppins", sans-serif;
  background: #dedede;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
h1 {
  font-size: 3.2rem;
}
h2 {
  font-size: 2.4rem;
}
h3 {
  font-size: 2.08rem;
}
p {
  font-size: 1.4rem;
}

// START

.container {
  max-width: 55rem;
  width: 100%;
}

.form {
  &-config {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  &-line {
    display: flex;
    flex-direction: column;
  }

  input,
  button,
  a {
    height: 40px;
    padding: 0px 5px;
    font-family: inherit;
  }
}

.responses {
  text-align: center;
  p {
    text-align: center;
  }
  .positive-response {
    display: none;
  }
  .negative-response {
    display: none;
  }
}
